.btn:hover {
  background: var(--red-600, #b70710);
}

.btn:focus {
  outline: 3px solid var(--green-400, #58e590);
  background: var(--red-500, #e50914);
}

.login {
  display: block;
  width: 60px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--white, #ffffff);
  background-color: var(--red-500, #e50914);
  border-radius: 4px;
}

.send-email {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 1.15;
  color: var(--white, #ffffff);
  background: var(--red-500, #e50914);
  border-radius: 30px;
}

.send-email span {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .login {
    width: 70px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }

  .send-email {
    width: 210px;
    height: 60px;
    border: 0;
    border-radius: 0;
  }
  .send-email span {
    font-size: 22px;
    white-space: nowrap;
  }
}
