<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>input component</title>
    <link
      rel="stylesheet"
      href="/mission-03/css/mission-03.css" />
  </head>
  <body>
    <input
      class="landing-email"
      type="email"
      name="email"
      id="email"
      placeholder="이메일 주소" />

    <!-- select -->
    <div class="language-wrapper">
      <span class="language-icon"></span>
      <select
        name="language"
        class="language"
        id="language">
        <option value="kr">한국어</option>
        <option value="en">english</option>
      </select>
      <span class="drop-down-icon"></span>
    </div>
  </body>
</html>
